/* settings */
    :root {
        --bkg-color: #050313;
        --text-color: white;
        --primary-color: maroon;
        --primary-highlight: #B00000;
        --primary-dim: #500000;
        --secondary-color: #326195; /* #682ED4 */
        --secondary-highlight: #4d6ad8; /* #18bfef */
        --secondary-dim: #29294a;
        --max-width: 72rem;
    }


/* Reset */
    html, body, div, span, applet, object,
    iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
    pre, a, abbr, acronym, address, big, cite,
    code, del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var, b,
    u, i, center, dl, dt, dd, ol, ul, li, fieldset,
    form, label, legend, table, caption, tbody,
    tfoot, thead, tr, th, td, article, aside,
    canvas, details, embed, figure, figcaption,
    footer, header, hgroup, menu, nav, output, ruby,
    section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    blockquote, q {
        quotes: none;
    }

        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    mark {
        background-color: transparent;
        color: inherit;
    }

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /* input, select, textarea { */
        /* -moz-appearance: none; */
        /* -webkit-appearance: none; */
        /* -ms-appearance: none; */
        /* appearance: none; */
    /* } */

    @-ms-viewport {
        width: device-width;
    }

    body {
        -ms-overflow-style: scrollbar;
    }

    @media screen and (max-width: 480px) {

        html, body {
            min-width: 320px;
        }

    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

/* Type */

    html {
        font-size: 16pt;
    }

        @media screen and (max-width: 1680px) {

            html {
                font-size: 12pt;
            }

        }

        @media screen and (max-width: 1280px) {

            html {
                font-size: 11pt;
            }

        }

        @media screen and (max-width: 360px) {

            html {
                font-size: 10pt;
            }

        }

    body {
        color: white;
        font-family: "Book Antiqua", Georgia, serif;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5;
    }


    h1, h2, h3, h4, h5, h6 {
        font-family: Helvetica, sans-serif;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 0.075em;
        margin: 0 0 1rem 0;
    }

    h1 {
        font-size: 4rem;
        line-height: 1.1;
        margin: 0 0 2rem 0;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.3;
        margin: 0 0 1.5rem 0;
    }

    h3 {
        font-size: 1.25rem;
        margin: 0 0 1.5rem 0;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    h6 {
        font-size: 0.8rem;
    }

    sub {
        font-size: 0.8rem;
        position: relative;
        top: 0.5rem;
    }

    sup {
        font-size: 0.8rem;
        position: relative;
        top: -0.5rem;
    }

    blockquote {
        border-left: solid 4px;
        font-style: italic;
        margin: 0 0 2rem 0;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    code {
        border: solid 2px;
        font-family: "Courier New", monospace;
        font-size: 0.9rem;
        margin: 0 0.25rem;
        padding: 0.25rem 0.65rem;
    }

    pre {
        -webkit-overflow-scrolling: touch;
        font-family: "Courier New", monospace;
        font-size: 0.9rem;
        margin: 0 0 2rem 0;
    }

        pre code {
            display: block;
            line-height: 1.75;
            padding: 1rem 1.5rem;
            overflow-x: auto;
        }

    hr {
        border: 0;
        border-bottom: solid 2px;
        margin: 2em 0;
    }

        hr.major {
            margin: 5rem 0;
        }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }


/*********************/
/* Devious Digitizer */
/*********************/
    .button {
        background-color: var(--secondary-color);
        border-radius: .3em;
        padding: .3em;
        box-shadow: .2rem .2rem .2rem black;
        border: 1px solid var(--secondary-dim);
    }

    .button:hover, .button:focus, input:focus + .button_label {
        background-color: var(--secondary-highlight);
    }

    .button:active {
        box-shadow: .1rem .1rem .1rem black;
        transform: translate(.1rem, .1rem);
    }

    .button_label {
        border-radius: 0.5em;
        padding: 1em;
        margin-bottom: .5em;
    }

    .icon {
        height: 2em;
        margin: .5em;
    }

    .icon--small {
        height: 1.5em;
        margin: .3em;
    }

    .icon--tiny {
        height: 1em;
        margin: .3em;
    }
    
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    /* Landing */
    /***********/
    body {
        background-color: var(--bkg-color);
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .subtitle {
        margin-bottom: 1em;
    }

    .standout-box {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        align-items: center;

        background-color: var(--primary-color);

        max-width: var(--max-width);

        border-radius: 1em;

        margin: 1em;

        padding: 1em;
    }

    .standout-box--big {
        margin: 2em;
        padding: 2em;
    }

    .standout-box--small {
        margin: .5em;
        padding:.5em;
        background-color: var(--primary-dim);
    }

    .standout-box__text {
        font-weight: 900;
    }

    .digitizer-landing {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        margin: 0 1em;
    }

    .digitizer-landing--inactive {
        display: none;
    }
    
    .feature-list > li {
        margin-bottom: .5em;
    }

    /* TODO add rule to hide tag viewers and retrospective when "hide features" button is pressed (look for class on passages element?)
    #passages.hide_digitizer .tag_viewer {
        display: none;
    }
    */

    /* Sidebar Menu */
    /****************/
    
    .sidebar_menu {
        padding-top: 1em;
    }
    
    .sidebar_menu__title {
        font-weight: normal;
    }

    /* Retrospective */
    /*****************/

    .retrospective {
        font: normal 16px "Georgia", "Book Antiqua", Georgia, serif;
        margin-bottom: 1em;
    }

    .past_passages__summary {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        cursor: pointer;
        list-style: none;
        color: grey;
    }

    .past_passages__contract, .past_passages__expand {
        filter: invert(50%);
        display: none;
        margin-right: .8em;
    }

    .past_passages:not([open]) > summary > .past_passages__expand {
        display: inline;
    }

    .past_passages[open] > summary > .past_passages__contract {
        display: inline;
    }

    .past_passages {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .past_passage {
        width: 90%;
    }

    .past_passage__summary {
        cursor: pointer;
    }

    /* Tag Viewers */
    /***************/

    .tag_viewer__summary {
        height: 1em;
        cursor: pointer;
    }

    .tag_viewer--passage {
        font: normal 16px "Georgia", "Book Antiqua", Georgia, serif;
        margin-bottom: 1em;
    }

    .tag_viewer--passage > .tag_viewer__summary {
        color: grey;
    }

    .tag_viewer--inline {
        display: inline;
    }

    .tag_viewer--inline > :not(summary) {
        position: absolute;
    }

    .tag_list {
        background-color: var(--primary-color);
        width: 100%;
        height: 7em;

        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        overflow-y: auto;

        border: 1px solid var(--primary-dim);
        border-radius: .3em;
    }

    .tag_list--passage, .tag_list--route {
        width: 20em;
        height: 10em;

        border-radius: .3em .3em .3em 0;
        border-bottom: 0;
    }

    .tag_viewer__tab_group {
        --tab-background: var(--primary-dim);
        --tab-active-background: var(--primary-color);
        --tab-cursor: pointer;
        --tab-padding: .5em;
        --tab-border-width: 0 1px 1px 1px;
        --tab-border-style: solid;
        --tab-border-color: var(--tab-background);
        --tab-border-radius: 0 0 .3em .3em;
        line-height: unset;
        font-weight: unset;
        font-style: unset;
        color: var(--text-color);
    }

    /* override Twine's styling of unordered lists */
    .passage ul.tag_list {
        padding: 0;
        margin-left: 0;
    }

    .tag_list__tag {
        display: inline;
        background-color: var(--secondary-color);
        padding: .3em;
        margin: .3em;
        border-radius: .3em;
    }

    /* override Twine's styling of list items */
    .passage li.tag_list__tag {
        margin-right: .3em;
    }

    /* Toasts */
    /**********/

    toast-box {
        --toast-color: var(--secondary-color);
        --toast-padding: 1rem;
        --toast-border: 1px solid var(--secondary-dim);
        --toast-border-radius: .5rem;
    }

    /* Dialogs */
    /***********/

    dialog-prompt {
        --dialog-color: var(--primary-color);
        --dialog-border: 1px solid var(--primary-dim);
        --dialog-border-radius: .5em;
        color: white;
    }

    .dialog__button--suggested {
        font-size: 1.3em;
        font-weight: bold;
    }

    /* Settings Dialog */
    /*******************/
    
    .settings {
        display: flex;
        flex-flow: column nowrap;

        background-color: var(--primary-color);
        max-width: var(--max-width);
    }

    .settings__set {
        padding: 1rem;
    }

    .metadata_set {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: .25rem
    }

    .tag_editor__label {
        display: flex;
        flex-direction: column;
        grid-column: 1/5;
        grid-row: 1;
    }
    
    .tag_editor__note {
        grid-column: 1/5;
        grid-row: 2;
    }
    
    .tag_editor__button {
        grid-row: 3;
    }
    
    /* Feedback Dialog */
    /*******************/
    
    .feedback {
        background-color: var(--primary-color);
        padding: .5rem;
        max-width: var(--max-width);
    }
    
    .feedback__dialog {
        --dialog-padding: .5rem;
        width: 95%;
        max-width: 35rem;
    }
    
    .feedback__tab_group {
        --tabs-position: column-reverse;
        --tab-background: var(--primary-dim);
        --tab-active-background: var(--primary-color);
        --tab-active-border-width: 3px 0;
        --tab-active-border-style: solid;
        --tab-active-border-color: var(--primary-dim);
        --tab-cursor: pointer;
        --tab-padding: .5em;
        --tab-align: center;
    }
    
    .feedback__tab_panel {
        padding: 1rem;
    }

    .feedback__form {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        gap: 1em;
    }
    
    .longform_feedback {
        width: 100%;
        height: 5em;
    }
    
    .shortform_feedback {
        min-width: 17em;
    }
    
    .feedback__dynamic_text {
        color: white;
        background-color: var(--secondary-dim);
        width: 100%;
        overflow-y: auto;
    }
    
    .feedback__dynamic_text:disabled {
        color: grey;
    }

    .feedback__submit {
        align-self: flex-start;
    }
    
    .bug_report__debug_info {
        height: 7em;
    }
    
    .submit_tags__tag_changes {
        height: 7em;
    }
    
    .debug_info__summary {
        cursor: pointer;
    }
    
    .tag_changes__summary {
        cursor: pointer;
    }
    
    /* Feedback Preview Dialog */
    /***************************/
    
    .feedback_preview {
        background-color: var(--primary-color);
        padding: .5rem;
        max-width: var(--max-width);
    }
    
    .feedback_preview__dialog {
        --dialog-padding: .5rem;
        width: 90%;
        max-width: 33rem;
    }
    
    .feedback_preview__body {
        background-color: var(--secondary-dim);
        width: 100%;
        height: auto;
        max-height: 30rem;
        overflow-y: auto;
    }

/*********************/
/* Twine enhancement */
/*********************/
    #sidebar {
        max-height: 100%;
        overflow-y: auto;
    }